/* Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset*/

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    height: 100vh;
}

/* <Menu> */
.Top-Menu {
    display: flex;
    justify-content: center;
}

    .Top-Menubox {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        height: 78px;
        width: 1120px;
        align-items: center;
    }

    .logo {
        height: 32px;
        width: 185px;
    }

    /* <Navigation bar> */
    .Navigation {
        transform: translate(125px);
        display: flex;
        justify-content: space-between;
        width: 350px;
    }

        .Navigation a {
            text-decoration: none;
            color: black;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 400;
        }
    /* </Navigation bar> */

    /* <Buttons> */
    .Signin, .Signup, .Section2box__button, .Section2box__videolink, .signupnow {
        height: 46px;
        width: 102px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        }

    .Signin {
        background-color: transparent;
        color: #173A56;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: 1px solid #BCD0E5;
        box-sizing: border-box;
        }
    .Signup, .Signupnow2 {
        background: rgba(255, 153, 0, 1);
        color: white;
        border: 0;
         }
    /* </Buttons> */

/* </Menu> */

/* <Section 2> */
    .Section2 {
        display: flex;
        justify-content: center;
        height: 526px;
    }

    .Section2box { 
        transform: translateY(30px);
        display: flex;
        justify-content: center;
        width: 1126px;
        align-items: center;
        }

        .Section2box-left {
            width: 518px;
        }

        .Section2 h1, .Section3 h2, .Section4 h2, .Section5 h2, .Section6 h2 {
            font-weight: bold;
            line-height: 54px;
            color: #2F281E;
            transform: translateY(-30px);
            }

        .Section2box__header {
            font-size: 44px;
            transform: translateY(-30px);
        }

        .Section2box p {
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            color: #544837;
        }

    /* <Section 2 buttons> */
        .Section2box__left div {
            transform: translateY(45px);
        }
        .Section2box__button, .Section2box__videolink, .signupnow { 
            width: 175px;
            height: 53px;
            background: rgba(255, 153, 0, 1);
            color: white;
            border: 0;
        }
        .Section2box__videolink {
            text-decoration: none;
            color: rgba(255, 153, 0, 1);
            background: transparent;
            position: relative;
            margin-left: 30px;
        }
    /* </Section 2 buttons> */

        .Section2box__right {
            height: 496px;
            width: 605px;
        }
/* </Section 2> */

/* <Section 3>  */
    .Section3 {
        position: relative;
        display: flex;
        justify-content: center;
        height: 653px;
        }

        .Section3box {
            transform: translateY(110px);
            display: flex;
            width: 1095px;
            height: 453px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
        }
        
        /* <Header> */
            .Section3box__header {
                display: flex;
                font-size: 36px;
                height: 108px;
                width: 539px;
                justify-content: center;
            }

                .Section3box__header--position h2 {
                    width: 500px;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(10px);
                /* H2 properties in Section 2 section */
                }
        /* </Header> */

        /* <Shortcuts> */
            .Section3box__shortcuts {
                display: flex;
                height: 178px;
                width: 1095px;
                justify-content: space-between;
            }

                .Section3box__shortcuts1 {
                    display: flex;
                    height: 178px;
                    width: 240px;
                    flex-direction: column;
                    justify-content: space-between;  
                }

                .Section3 img {
                    width: 50px;
                    height: 50px;
                }

                .Section3 h3 {
                font-weight: 600;
                font-size: 22px;
                line-height: 33px;
                color: rgba(47, 40, 30, 1);
                }   

                .Section3 p, .Section4 p, .Section4 h6, 
                .Section5 p, .Section5 h6, .Section6 p, .Section6 h6 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: rgba(84, 72, 55, 1);
                }
        /* <Shortcuts> */

        /* <section 3 button> */
            .Section3box__button {
                display: flex;
                font-size: 36px;
            }
        /* </section 3 button> */
        
/* </Section 3>  */

/* <Section 4> */
    .Section4 {
        display: flex;
        justify-content: center;
        height: 694px;
        
    }

        .Section4box { 
            transform: translateY(120px);
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 1110px;
            height: 574px;
            }

            .Section4box__left, .Section6__left {
                display: flex;
                align-items: flex-end;
            }
            
                .Section4box__leftBox, .Section6box__leftBox {
                    display: flex;
                    flex-wrap: wrap;            
                    max-height: 531px;
                    height: 100%;
                    width: 486px;
                }
                    .Section4 h6, .Section5 h6, .Section6 h6 {
                        line-height: 24px;
                        /* more h6 attributes in section 2 */
                    }
                    .Section4 h2, .Section5 h2, .Section6 h2 {
                        font-size: 36px;
                    } /* more attributes in section 2 */
                    
                    .Section4 .pbold, .Section6 .pbold {
                        color: rgba(47, 40, 30, 1);
                        font-weight: bold;
                        transform: translateY(5px);
                    }


                    /* .Section4 p attributes in section 3 */
           
            .Section4box__rightBox {
                display: flex;
            }
                .Section4box__img {
                    width: 520px;
                    height: 574px;
                }

/* </Section 4> */

/* <Section 5> */
    .Section5 {
        display: flex;
        justify-content: center;
        height: 622px;
    }

        .Section5box { 
            transform: translateY(101px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1121px;
            height: 521px;
        }

            .Section5box__left {
                display: flex;
        
            }
                .Section5box__img {
                    display: flex;
                    width: 533px;
                    height: 520px;
                }

            .Section5box-right {
                display: flex;
                height: 521px;
                align-items: center;
            }
            
                .Section5box__rightBox {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 427px;
                    width: 486px;
                }
                    /* text attributes in section 2 and section 4 */
            
                .Section5 .box2 {
                    display: flex;
                    transform: translateY(-20px);
                }

                .Section5 .box3 {
                    height: 216px;
                    display: flex;
                    flex-wrap: wrap;
                }


                    .Section5 .checkbox {
                        display: flex;
                    }

                        .Section5 .checkbox img {
                            height: 35px;
                            width: 35px;
                        }

                        .Section5 .checkbox p {
                            transform: translateX(30px);
                        }
/* </Section 5> */

/* <Section 6> */
.Section6 {
    display: flex;
    justify-content: center;
    height: 713px;
    
}

    .Section6box { 
        transform: translateY(104px);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 1110px;
        height: 609px;
        }

        /* .Section6box-left attribut finns i section 4 */

        /* Text attributes in section 4 and section 2 */
        
                .Section6box__leftBox .box {
                    height: 90px;
                }

            

       
        .Section6box__rightBox {
            display: flex;
        }
            .Section6box__img {
                width: 542px;
                height: 609px;
            }
/* </Section 6> */

/* <Section 7> */
    .Section7 {
        display: flex;
        justify-content: center;
        height: 537px;
    }

        .Section7box {
            transform: translateY(146px);
            display: flex;
            justify-content: space-between;
            height: 308px;
            width: 1110px;
            align-items: flex-end;
        }

            .line {
                transform: translateY(146px);
                display: flex;
                position: absolute;
                background: rgba(188, 208, 229, 0.5);
                
            }

            .img {
                height: 32;
                width: 184;
                transform: translateY(-160px);
            }

            .Section7box div {
                display: flex;
                flex-direction: column;
            }

            .links, .links2 {
                transform: translateY(-5px);
                display: flex;
                height: 120px;
                justify-content: space-between;
            }

            .links2 {
                transform: translate(30px, -5px);
            }

                .Section7 a {
                    display: flex;
                    text-decoration: none;   
                    color: rgba(84, 72, 55, 1);
                }

                .SignupHere {
                    display: flex;
                    max-width: 325px;
                    height: 110px;
                    justify-content: space-between;
                }

                    
                .EnterMailAdress {
                    border: 1px solid #BCD0E5;
                    width: 325px;
                    height: 48px;
                    border-radius: 4px;
                }
                
                    
                .EnterMailAdress::placeholder {
                    color: #BCD0E5;
                    padding-left: 10px;
                }

                .Signupnow2 {
                    height: 39px;
                    width: 131px;
                    background: rgba(255, 153, 0, 1);
                    color: white;
                    border: 0;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    border-radius: 4px;
                }
/* </Section 7> */